<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="gym.managym">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginActivity">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:name=".AttendGymActivity" />
        <activity android:name=".GymProgramActivity" />
        <activity android:name=".GymProgramContentsActivity" />
        <activity android:name=".GymProgramCreateActivity" />
        <activity android:name=".TrainerMainActivity" />
        <activity android:name=".TraineeMainActivity" />
        <activity android:name=".NoticeActivity" />
        <activity android:name=".NoticeContentActivity" />
        <activity android:name=".NoticeWriteActivity" />
        <activity android:name=".UserManagementActivity" />
        <activity android:name=".UserRegisterActivity" />
        <activity android:name=".UserContentActivity" />
        <activity android:name=".UserModifyActivity" />
        <activity android:name=".BodyDataActivity" />
        <activity android:name=".BodyDataWriteActivity" />
        <activity android:name=".PointRecordActivity" />
        <activity android:name=".PointWriteActivity" />
        <activity android:name=".MessengerActivity" />
        <activity android:name=".MessengerWriteActivity"/>
        <activity android:name=".WorkoutDataActivity" />
    </application>

</manifest>